{{define "main" }}

{{partial "small-header.html" . }}

<div class="container" style="background: white;color:black;">
    <div class="row">
        <div class="col-md-10 naslov">
            <div class="singleTitle">
                <h1 class="display-3">POLIGONIJA</h1>
            </div>
        </div>
        <div class="col-md-11 mx-auto">
            <p class="singleMargin intro">
                <span class="first-char">P</span> oligonija je interdisciplinaren projekt, ustanovljen pod okriljem društva KUD Anarhiv. Temelji na humanističnem preučevanju različnih družbenih problematik. Zasnovan je bil z željo ustvarjanja platforme za neinstitucionalen, interaktiven diskurz o različnih fenomenih, ki zaznamujejo našo družbo.
            </p>
            <aside class="pquote singleMargin mx-auto" style="padding-left:10px;float:right; max-width: 600px;">
                <blockquote>
                    <p>Projekt združuje študente različnih smeri, ki želijo misliti in razpravljati o sodobnem svetu in njegovih problematikah.</p>
                </blockquote>
            </aside>
            <p class="singleMargin">
                Projekt združuje študente različnih smeri, ki želijo misliti in razpravljati o sodobnem svetu in njegovih problematikah. Izvajamo predavanja, branja in pogovore, katerim sledi diskusija v želji po odpiranju diskurza s publiko. Izraz poligon, ki nudi osnovo za imenovanje skupine, etimološko konstruirata termina polles in gones, ki v klasični grščini pomenita več kotov, v sodobni grščini pa odražata naravo projekta: več pogledov. Projekt je svojo krstno izvedbo doživel s predavanjem, naslovljenim Poligonija – Spomini preteklosti / / Monoliti sedanjosti v maju 2018, kjer smo predstavili različne poglede na tematiko spomenikov; govorili smo o literarnih spomenikih, o funkciji spomenikov in o njihovi moči. To pomlad se v sklopu projekta ŠIPK v sodelovanju s študenti FAM-a pripravlja cikel dogodkov na temo znanstvene fantastike in transhumanizma, kjer se bomo ukvarjali z medsebojnim vplivom umetniške produkcije in tehnologije.
            </p>
            <p class="singleMargin">
                V sodobnem svetu predstavlja tehnologija eno izmed integralnih vodil družbe. Kljub temu ključnemu pomenu pa danes opažamo vse večji odpor do tehnologije in problematiziranje vprašanja odnosa med človekom in tehnologijo. Slednja je namreč v svojem razvoju dosegla nepredstavljivo hitrost, ki se zdi mnogim tako konzumentom kot producentom neobvladljiva. Kolosalna podoba sodobne tehnologije odpira vedno nova vprašanja in fronte mišljenja. Kljub temu, da tehnologija in družba stremita naprej, se nam danes, ko je prihodnost, kot piše angleški kritike Mark Fisher, ukinjena, zdi ključen kritičen pogled nazaj in razmislek o vplivih na sedanjost.
            </p>
            <aside class="pquote singleMargin mx-auto" style="float:left; max-width: 600px;">
                <blockquote>
                    <p>Kako misliti umetnost v dobi, ko grozi človeku zamenljivost? Ali je prihodnost, če ta obstaja, prihodnost brez človeka? </p>
                </blockquote>
            </aside>
            <p class="singleMargin">
                Kljub ukinjeni prihodnosti se danes snuje in širi filozofija transhumanizma, ki ponuja vizijo prihodnosti brez človeka. Ali je to legitimna smer razmisleka, ki odpira vprašanje samoumevnosti človeka? Skozi kritičen vpogled bomo poskusili slojevito predelati problematiko ter poiskati tudi aplikativne in efektivne ideje, ki nam lahko pomagajo razumeti tehnologijo, ki nas obdaja. Kolikšen vpliv je imela človeška umetniška produkcija na snovanje prihodnosti? Kakšen vpliv ima tehnologija na umetniško produkcijo danes? Kako misliti umetnost v dobi, ko grozi človeku zamenljivost? Ali je prihodnost, če ta obstaja, prihodnost brez človeka? Ali res tekmujemo s tehnologijo? To je le nekaj vprašanj, ki si jih bomo zastavljali tekom te pomladi.
            </p>

        </div>
    </div>
</div>
{{end}}