<!DOCTYPE html>
<html lang="en">
    {{ partial "header.html" .}}
    <body style="background: black">

    {{ block "main" . }}{{end}}

    <script>
        $(document).ready(function() {
            if ( $( 'html' ).hasClass( 'fp-enabled' ) ) {
                $.fn.fullpage.destroy('all');
            }
            $('#fullpage').fullpage({
                //options here
                navigation: true,
                recordHistory: true,
                autoScrolling: true,
                navigationPosition: 'right',
                slidesNavigation: true,
                anchors: ['home', 'tekst1', 'tekst2', 'tekst3', 'tekst4', 'tekst5', 'tekst6', 'tekst7'],

                onLeave: function (origin, destination, direction) {
                    console.log(destination.index);
                    if(origin.index == 0 && direction == 'down'){
                        $('#fp-nav').fadeIn(200);
                    }
                    else if(origin.index == 1 && direction == 'up'){
                        $('#fp-nav').fadeOut(200);
                    }
                }
            });
            $('#fp-nav').fadeOut(100);

            Barba.Pjax.start();
        });
    </script>
</body>
</html>