<!DOCTYPE html>
<html lang="en">
    {{ partial "header.html" .}}
    <body style="background: black">

    {{ block "main" . }}{{end}}

    <script>
        $(document).ready(function() {
            if ( $( 'html' ).hasClass( 'fp-enabled' ) ) {
                $.fn.fullpage.destroy('all');
            }
            $('#fullpage').fullpage({
                //options here
                navigation: true,
                recordHistory: true,
                autoScrolling: true,
                navigationPosition: 'right',
                slidesNavigation: true,
                slidesNavPosition: 'top',

                onLeave: function (origin, destination, direction) {
                    console.log(destination.index);
                    if(origin.index == 0 && direction == 'down'){
                        $('#fp-nav').delay(400).fadeIn(500);
                        $('#arrowDown').fadeOut(200);
                    }
                    else if(origin.index == 1 && direction == 'up'){
                        $('#fp-nav').fadeOut(200);
                        $('#arrowDown').delay(400).fadeIn(500);
                    }
                }
            });
            $('#fp-nav').fadeOut(100);

            $('#arrowDown').click(function(){
                $.fn.fullpage.moveSectionDown();
            });
        });
    </script>
</body>
</html>