{{define "main"}}
<div id="main">

    <div class="sceneElement" data-viewport="1">
    {{ partial "fullpage.html" . }}
    </div>


    <div id="about"><a href="/o-nas">O nas</a></div>
    <div id="mainLogo"><span style="font-family: Lora;color:white;">POLIGONIJA</span></div>
    <div id="social"><a href="https://www.facebook.com/Poligonija-382655652330224/" ><i class="fab fa-facebook-f" style="margin-right: 15px"></i></a><a href="https://www.instagram.com/poligonija/" ><i class="fab fa-instagram"></i></a></div>

    <div id="arrowDown"><img src="{{ "images/SVG/arrow-down.svg" | absURL }}" id="arrow"></div>
    <div id="arrowLeft"><a href="/" data-target="0"><img src="{{ "images/SVG/arrow-down.svg" | absURL }}" id="arrow"></a></div>
    <!-- Temp disable <div id="arrowRight"><a href="/scifi" ><img src="{{ "images/SVG/arrow-down.svg" | absURL }}" id="arrow"></a></div> -->
</div>
{{end}}