{{define "main"}}
<div id="fullpage" style="background:black; color:white;">
    <div class="section home">
        <div class="container home mobile-container">
            <div class="row" style="display: flex;align-items: center;justify-content: center">
                <div class="col-md-5">
                    <h1 class="Left-title">{{.Title}}</h1>
                </div>
                <div class="col-md-1 d-md-block d-none">
                    <img src="{{ "images/SVG/Asset%201.svg" | absURL }}" class="line">
                </div>
                <div class="col-6 mx-auto d-md-none d-block"><hr class="Horizont"></div>
                <div class="col-md-5">
                    <div class="opis">
					    {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ range (where .Pages "Section" "scifi") }}
    <div class="section rest">
        <div class="container mobile-container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title" style="font-family: Montserrat">{{.Params.name}}</h1>
                </div>
            </div>
            <div class="row authors">
                <div class="col-md-12">
                    <h2 class="names">{{.Params.Author}}</h2>
                </div>
            </div>
            <div class="row short-content">
                <div class="col-md-12">
                    <h2 class="text text-left">{{.Content}}</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="ReadMore"><a href="{{.Permalink}}">Preberite več.</a></h3>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>

<div id="about"><a href="/o-nas">O nas</a></div>
<div id="mainLogo" class="d-md-block d-none"><span style="font-family: Lora;color:white;">POLIGONIJA</span></div>
<div id="social"><a href="https://www.facebook.com/Poligonija-382655652330224/" ><i class="fab fa-facebook-f" style="margin-right: 15px"></i></a><a href="https://www.instagram.com/poligonija/" ><i class="fab fa-instagram"></i></a></div>

<div id="arrowDown"><img src="{{ "images/SVG/arrow-down.svg" | absURL }}" id="arrow"></div>

{{end}}